<div class="container">
  <div class="bloc-wrapper">
    <div class="bloc-first bloc">
      <img src="/assets/img/mn-delivery-img.svg" alt="delivery" class="bloc-img">
      <button type="button" [routerLink]="[ 'deliveryPayment']" class="bloc-first-btn">Зони доставки</button>
    </div>
  </div>
  <div class="bloc-wrapper">
    <div class="bloc-second bloc">
      <img src="/assets/img/mono-supermen.svg" alt="supermen" class="bloc-img">
      <p class="bloc-text">Середній час доставки в зеленій зоні <span class="bold">00:43:00</span></p>
    </div>
  </div>
  <div class="bloc-wrapper">
    <div class="bloc-third bloc">
      <img src="/assets/img/mono-bonus.svg" alt="bonus" class="bloc-img">
      <p class="bloc-text">Наш графік роботи Працюємо з <span class="bold"> 11:00</span> до <span class="bold">22:30</span></p>
    </div>
  </div>
</div>