<div class="container">
  <form name="goodsForm" [formGroup]="goodsForm" class="goodsForm" (ngSubmit)="addGoods()">
    <select class="input" formControlName="category"  [(ngModel)]="selectedCategory">
      <option value="" selected disabled >*Виберіть категорію</option>
      <option [value]="category.title" *ngFor="let category of allCategories">{{category.title}}</option>
    </select>
    <input type="text" formControlName="title" class="input halfInput" placeholder="*Назва">
    <input type="text" formControlName="path" class="input halfInput" placeholder="*Шлях">
    <input type="text" formControlName="ingredients" class="input" placeholder="*Інгредієнти">
    <input type="text" formControlName="weight" class="input halfInput" placeholder="*Вага">
    <input type="text" formControlName="price" class="input halfInput" placeholder="*Ціна">
    <ng-container *ngIf="!addedFile; else elseTemplate">
      <input type="file" class="inputFile" id="inputFile" (change)="addFile($event)">
      <label for="inputFile">Додайте файл</label>
      <progress class="progressBar" max="100" value="{{uploadPercent}}"></progress>
    </ng-container>
    <ng-template #elseTemplate>
      <div class="imgWrapper">
        <img  [src]="url" alt="" class="img">
        <span class="cross" (click)="deleteImg()">&times;</span>
      </div>
    </ng-template>
    <button type="submit" class="save-btn">{{editStatus ? 'Зберезти зміни' : 'зберегти'}}</button>
  </form>
</div>

<!-- [src]="sendCategoryEdit ? sendCategoryEdit.img :url" -->
<!-- [disabled]="categoryForm.invalid" -->
<!-- (change)="uploadImg($event)" -->