<footer class="footer">
  <div class="footer-unit">
    <a [routerLink]="['']">
      <img src="/assets/img/logo.svg" alt="logo" class="footer-img">
    </a>
  </div>
  <div class="footer-unit">
    <ul class="footer-list">
      <li [routerLink]="[ 'promotions']">Акції</li>
      <li [routerLink]="[ 'aboutUs']">Про нас</li>
      <li [routerLink]="[ 'oferta']">Оферта</li>
    </ul>
  </div>
  <div class="footer-unit">
    <div class="pickUpPoint">
      <p class="pickUpPoint-title">Точки самовивозу</p>
      <ul class="pickUpPoint-text">
        <li>вул. Володимира Великого, 10в</li>
        <li>вул. Чорновола, 95</li>
      </ul>
    </div>
  </div>
  <div class="footer-unit">
    <div class="order">
      <p class="order-title">Оформити замовлення</p>
      <a class="order-text" href="tel:(097) 878 08 37">(097) 878 08 37</a>
    </div>
  </div>
  <div class="footer-unit">
    <div class="workSchedule">
      <p class="workSchedule-title">Графік роботи</p>
      <p class="workSchedule-text">працюємо з 11:00 до 22:30</p>
    </div>
  </div>
  <div class="footer-unit">
    <span class="updateDate">© 2023 Monosushi</span>
  </div>
  <div class="footer-unit">
    <ul class="cards">
      <li><img src="/assets/img/pay-card-img-1.svg" alt=""></li>
      <li><img src="/assets/img/pay-card-img-2.svg" alt=""></li>
      <li><img src="/assets/img/pay-card-img-3.svg" alt=""></li>
    </ul>
  </div>
  <div class="footer-unit">
    <div class="socialNetworks">
      <p class="socialNetworks-title">Слідкуйте за нами</p>
      <ul class="socialNetworks-list">
        <li><img src="/assets/img/facebook-icon.svg" alt=""></li>
        <li><img src="/assets/img/instagram-icon.svg" alt=""></li>
      </ul>
    </div>
  </div>
  <div class="footer-unit">
    <div class="create-site">
      <div class="site">Створення сайтів </div>
      <img class="site-img" src="https://redstone.media/merge/img/logo.svg" alt="">
    </div>
  </div>

</footer>