@import "/src/app/shared/styles/variables";
@import "/src/app/shared/styles/mixins";

.container{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.inputFile{
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  & + label{
    background-color: $darkGrayText;
    padding: 4px 22px;
    font-size: 15px;
    color: $white;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid $darkGrayText;
    transition: all 0.35s;
    max-width: 150px;
    &:hover{
      background-color: transparent;
      color: $darkGrayText;
    }
  }
}
.progressBar{
  width: 100%;
  display: block;
  height: 10px;
  background-color: $mainColor;
  border-radius: 10px;
  margin-bottom: 5px;
}
.progressBar::-webkit-progress-value {
  background-color: $mainColor;
  border-radius: 10px;
}

.progressBar::-webkit-progress-bar {
  background-color: #ccc;
  border-radius: 10px;
}
.imgWrapper{
  width: 100%;
  position: relative;
}
.img{
  max-width: 150px;
  max-height: 150px;
  background-size: cover;
}
.cross{
  position: absolute;
  display: inline-block;
  color: $darkGrayText;
  padding: 5px;
  top: -10px;
  cursor: pointer;
  font-size: 18px;
  user-select: none;
  &:active{
    transform: translate3d(0, 0.1em, 0);
  }
}
