<div class="container">
  <h3 class="title">Доставка суші у Львові від "Monosushi"</h3>
  <p class="subtitle">Безкоштовна доставка суші у Львові Monosushi.</p>
  <p class="text">Нам три роки. За цей час ми підкорили серця багатьох львів’ян. І це лише початок! Адже кожного місяця
    ми стараємось для Вас і стаємо кращими у кожному аспекті. Ми не ті, про кого кажуть: «Зіпсувались». Ми вкладаємо всю
    душу в нашу
    компанію та радіємо кожному Вашому позитивному відгуку!</p>
  <span class="learnMore" (click)="showText=true" *ngIf="!showText">Дізнатись більше</span>
  <div class="hiddenText" *ngIf="showText">
    <span class="bold hiddenText-title">Чому ми?</span>
    <ol class="list">
      <li class="text"><span class="bold">Якість продуктів. </span> Спробувавши десятки різних доставок ми зрозуміли, що
        запорукою та секретом смаку завжди є свіжі та якісні продукти. Саме тому ми з особливим трепетом та уважністю
        обираємо продукти, які поїдуть до нас на кухню.</li>
      <li class="text"> <span class="bold"> Неймовірний смак.</span> Так, ми Вас розуміємо. Важко в це повірити коли
        кожна доставка обіцяє «смачний продукт». Проте, ми використовуємо інгредієнти, які за якістю є на порядок вище
        тих, які використовуть наші конкуренти у своїх рецептах. Ми не економимо і використовуємо лише найбільш якісні та дорогі
        продукти для створення наших страв! Ну і чого тільки варті наші Запечені сирні суші! Вони однозначно є
        хедлайнерами нашого меню! Це те, чого Ви раніше ще точно не куштували!</li>
      <li class="text"> <span class="bold"> Великі порції.</span> Ми любимо смачно та ситно поїсти! Впевнені, Ви теж!
        Тому, ми з неабияким захватом підійшли до розробки грамажу наших ролів. Ми намагались віднайти ідеальний розмір аби наші
        моносуші були доволі ситними, але в той же час комфортними для споживання. <br>Також, кожного разу при
        приготуванні ролів ми використовуємо ваги аби страва відповідала грамажу вказаному на сайті!</li>
      <li class="text"> <span class="bold"> Абсолютна чистота на кухні. </span>При приготуванні страв ми притримуємось
        усіх санітарних норм та правил аби Ви могли бути на 100% впевнені в якості та безпечності страв.</li>
      <li class="text"> <span class="bold"> Гарне упакування та уважність до деталей!</span> Monosushi – були створені
        командою перфекціоністів, тому кожна деталь нашого упакування продумана до дрібниць</li>
    </ol>
    <ul>
      <li>Фотографії продуктів несуть ознайомчий характер і можуть відрізнятися від оригіналу.</li>
      <li>Замовлення вважається прийнятим з моменту опрацювання його оператором колл-центру дзвінком до клієнта.</li>
    </ul>
    <span class="rollUp" (click)="showText=false">Згорнути</span>
  </div>

</div>