<nav class="pages">
  <a class="page btn" [routerLink]="[ 'promotions']">
    <img src="/assets/img/nav-img-gift.svg" alt="" class="page-img">
    <span class="page-title">Акції</span>
  </a>
  <a class="page" [routerLink]="[ 'products', category.path ]" *ngFor="let category of categoriesArr">
    <img [src]="category.img" alt="" class="page-img">
    <span class="page-title">{{category.title}}</span>
  </a>
  <!-- <a class="page">
    <img src="/assets/img/nav-img-rolls.svg" alt="" class="page-img">
    <span class="page-title">Роли</span>
  </a>
  <a class="page">
    <img src="/assets/img/nav-img-sets.svg" alt="" class="page-img">
    <span class="page-title">Сети</span>
  </a>
  <a class="page">
    <img src="/assets/img/nav-img-drinks.svg" alt="" class="page-img">
    <span class="page-title">Напої</span>
  </a>
  <a class="page">
    <img src="/assets/img/icon.svg" alt="" class="page-img">
    <span class="page-title">Соуси</span>
  </a> -->
  <!-- [routerLink]="[ '/path', routeParam ]" -->
</nav>