@import "/src/app/shared/styles/variables";
@import "/src/app/shared/styles/mixins";

.card{
  width: 42%;
  display: flex;
  flex-direction: column;
  margin-bottom: 42px;
  padding: 0 15px;

  @media (max-width: 1200px) {
    max-width: 480px;
  }
  @media (max-width: 990px) {
    max-width: 360px;
  }
  @media (max-width: 770px) {
    max-width: 540px;
    width: 100%;
  }
  @media (max-width: 570px) {
    max-width: 100%;  
  }
  &-img{
    width: 100%;
    border-radius: 10px;
    max-height: 330px;
    height: 100%;
    @media (max-width: 1200px) {
      max-height: 245px;
    }
    @media (max-width: 990px) {
      max-height: 180px;
    }
    @media (max-width: 770px) {
      max-height: 277px;  
    }
  }
  &-title{
    font-size: 20px;
    text-align: center;
    margin: 20px 0 10px;
    font-weight: 700;
    text-transform: uppercase;
    @media (max-width: 570px) {
      font-size: 4vw;  
    }
  }
  &-hr{
    border-top: 3px solid $mainColor;
    margin: 15px 0;
  }
  &-btn{
    padding: 14px 16px;
    background-color: $mainColor;
    border-radius: 10px;
    border: none;
    text-transform: uppercase;
    font-weight: 700;
    align-self: center;
    min-width: 250px;
    cursor: pointer;
    transition: all 0.35s;
    &:active{
      transform: translate3d(0, 0.1em, 0);
    }
    @media (max-width: 290px) {
      min-width: 100%;
    }
  }
}