@import "/src/app/shared/styles/variables";
@import "/src/app/shared/styles/mixins";

.container{
  margin: 40px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.title{
  display: inline-block;
  font-size: 42px;
  border-top: 5px solid $mainColor;
  padding-top: 5px;
}

.cards{
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
}
.sushiNavigation{
  width: 100%;
  min-height: 60px;
  margin: 40px 0 20px;
  @media (max-width: 1200px){
    display: none;
  }
}
