@import "/src/app/shared/styles/variables";
@import "/src/app/shared/styles/mixins";

.container {
  @extend %flexCenter;
  position: fixed;
  background-color: $blackOpacity;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  padding: 10px;
}
.content {
  padding: 50px 60px;
  background-color: $white;
  border-radius: 10px;
  @extend %flexCenter;
  position: relative;
  @media (max-width: 560px){
    padding: 35px 15px;
  }
}

.cross {
  cursor: pointer;
  position: absolute;
  display: inline-block;
  @include size (40px, 40px);
  padding: 10px;
  top: 0px;
  right: 0px;
  &:hover {
    fill: $mainColor;
  }
}
