<div class="container">
  <form name="promoForm" class="promoForm" [formGroup]="promoForm" (ngSubmit)="addPromo()">
    <input type="text" formControlName="promoTitle" class="input" placeholder="*Назва">
    <input type="text" formControlName="promoPath" class="input" placeholder="*Шлях">
    <textarea name="" formControlName="description" class="inputTextarea input" placeholder="*Опис"></textarea>
   
    <ng-container *ngIf="!addedFile; else elseTemplate">
      <input type="file" class="inputFile" (change)="loadImage($event)">
      <progress class="progressBar" max="100" value="{{uploadPercent}}"></progress>
    </ng-container>
    <ng-template #elseTemplate>
      <div class="imgWrapper">
        <img [src]="sendPromo ? sendPromo.img : urlPromo" class="img">
        <span class="cross" (click)="deleteImg()">&times;</span>
      </div>
    </ng-template>

    <button type="submit" class="save-btn" [disabled]="promoForm.invalid"> {{!editStatus ? "зберегти" : "зберегти зміни" }}</button>
  </form>
</div>