@import "/src/app/shared/styles/variables";
@import "/src/app/shared/styles/mixins";

.container {
  width: 80%;
  margin: 60px auto;
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  font-family: "OpenSans";
}
.title, .payment {
  @include size(380px, 60px);
  @extend %textSelection;
  text-align: center;
  border-top: 5px solid $mainColor;
  font-size: 39px;
}
.zones {
  @include size(100%, auto);
  display: flex;
}

.zone {
  display: flex;
  @include size(608px, auto);

  &-img {
    @include size(276px, 180px);
  }
  &-list {
    @include size(270px, auto);
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
  &-title {
    font-size: 26px;
    font-weight: 700;
    @extend %textSelection;
  }
  &-text {
    font-size: 16px;
    color: $darkGray;
    @extend %textSelection;
  }
}
.green {
  @extend %textSelection;
  color: $green;
}
.yellow {
  @extend %textSelection;
  color: $yellow;
}
.map {
  @include size(1000px, 625px);
}
.wrapper {
  @include size(927px, auto);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text {
  font-size: 18px;
  color: $darkGray;
  margin-bottom: 34px;
  @extend %textSelection;
}
.payment{
  border: none;
  margin-bottom: 40px;
  &-wrapper{
    @include size (100%, auto);
    padding: 0px 15px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
  }
}
.cashless, .cash{
  @include size (48%, auto);
  display: flex;
  &-img{
    @include size (63px, 60px);
    border-radius: 10px;
    background-color: $mainColor;
    @extend %flexCenter;
    margin-right: 20px;
  }
  &-title{
    font-size: 20px;
    @extend %textSelection;
    font-weight: 700;
    margin-top: 10px;
  }
  &-text{
    @extend %textSelection;
    font-size: 16px;
    color: $darkGray;
    margin-top: 20px;
  }
}
.cashless{
  border-right: 1px solid $gray;
}
.text-wrapper{
  @include size (80%, auto);

}