@import "/src/app/shared/styles/variables";
@import "/src/app/shared/styles/mixins";

.container{
  width: 100%;
  margin-top: 20px;
}
.categoryForm{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.input{
  width: 100%;
  padding: 10px;
  border: 1px solid $gray;
  border-radius: 10px;
  color: $darkGrayText;
  font-size: 16px;
  &:focus{
    outline: none;
  }
}
.inputFile{
  width: 100%;
  padding: 20px;
}

.save-btn{
  @extend %btnStyle;
  border: 2px solid $mainColor;
  background-color: $mainColor;
  font-size: 15px;
  &:hover {
    background-color: transparent;
  }
}
.progressBar{
  width: 100%;
  display: block;
  height: 10px;
  background-color: $mainColor;
  border-radius: 10px;
  margin-bottom: 5px;
}
.progressBar::-webkit-progress-value {
  background-color: $mainColor;
  border-radius: 10px;
}

.progressBar::-webkit-progress-bar {
  background-color: #ccc;
  border-radius: 10px;
}
.imgWrapper{
  width: 100%;
  position: relative;
}
.img{
  max-width: 150px;
  max-height: 150px;
  background-size: cover;
}
.cross{
  position: absolute;
  display: inline-block;
  color: $darkGrayText;
  padding: 5px;
  top: -10px;
  cursor: pointer;
  font-size: 18px;
  user-select: none;
  &:active{
    transform: translate3d(0, 0.1em, 0);
  }
}
